@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
 

<address>
    SmaXtec Brasil<br />
    Rep Nova Geração<br />
    Av. T-63 Nº 2074 Jardim América CEP: 74250-320 <br />
    <p>Fone: (062) 3941-0488 / 3946-7201 </p>
</address>

<address>
    <strong>Supporte:</strong>   <a href="mailto:ruraltech@repnovageracao.com.br">ruraltech@repnovageracao.com.br</a><br />
</address>